.header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 650px;
  width: 100%;
  /* background-color: yellowgreen; */
  background-color: #ed8d17;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
  padding: 1em;
  flex-direction: column;
}

.header-avatar {
  max-width: 250px
}

.header-avatar img {
  width: 100%;
}

.header-name {
color: white;
font-size: 2em;
margin-top: -30px;
}
