body {
  background-color: antiquewhite;
  width: 90%;
  border-radius: 3px;
  border-color: brown;
}

i {
  width: 500px;
  height: 500px;
  background-color: yellowgreen;
  color: yellowgreen;
}

i:hover {
  background-color: red !important;
}